<a href="https://colab.research.google.com/github/kushal-g/FlightDelayPredictor/blob/master/Models/LogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib as plt
from multiprocessing import Pool

In [0]:
from sklearn.linear_model import LogisticRegression

In [5]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [6]:
cd /content/gdrive/My\ Drive

/content/gdrive/My Drive

In [0]:
df = pd.read_csv("flights_logistic_final.csv",dtype={"ORIGIN_AIRPORT":object,"DESTINATION_AIRPORT":object})

In [8]:
df.head()

   Unnamed: 0  YEAR  MONTH  DAY  ...  AIRLINE_UA AIRLINE_US  AIRLINE_VX AIRLINE_WN
0           0  2015     12   25  ...           0          0           0          0
1           1  2015      1    1  ...           0          0           0          0
2           2  2015      4   26  ...           0          0           0          0
3           3  2015      4   27  ...           0          0           0          0
4           4  2015     10   20  ...           0          0           0          0

[5 rows x 175 columns]

In [0]:
df = df.drop(["Unnamed: 0"], axis=1)

In [10]:
df.head()

   YEAR  MONTH  DAY  ...  AIRLINE_US AIRLINE_VX  AIRLINE_WN
0  2015     12   25  ...           0          0           0
1  2015      1    1  ...           0          0           0
2  2015      4   26  ...           0          0           0
3  2015      4   27  ...           0          0           0
4  2015     10   20  ...           0          0           0

[5 rows x 174 columns]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X = df.drop(["YEAR","MONTH","DAY","DAY_OF_WEEK","AIRLINE","FLIGHT_NUMBER","TAIL_NUMBER","ORIGIN_AIRPORT","DESTINATION_AIRPORT","DEPARTURE_DELAY","TAXI_OUT","WHEELS_OFF","SCHEDULED_TIME","AIR_TIME","WHEELS_ON","TAXI_IN","ARRIVAL_DELAY","ARRIVAL_DELAY_BOOL","SCHEDULED_DEPARTURE","SCHEDULED_ARRIVAL","TAIL_NUMBERS_BINNED","ORIGIN_AIRPORT_BINNED","DESTINATION_AIRPORT_BINNED"],axis=1)

In [0]:
y = df["ARRIVAL_DELAY_BOOL"]

In [0]:
X_train,X_test,y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=42)

In [0]:
model = LogisticRegression(max_iter=400000)

In [19]:
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=400000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
predictions = model.predict(X_test)

In [0]:
from sklearn.metrics import confusion_matrix

In [0]:
matrix = confusion_matrix(y_test,predictions)

In [24]:
((matrix[0][0]+matrix[1][1])/(matrix[0][0]+matrix[0][1]+matrix[1][0]+matrix[1][1]))*100

70.44200000000001